.textowo
{
  width: 200px;
  margin-left: 30px;
}
.carta
{
    font-size: 18px;
}
.crear
{
  background-color: #e6ae25;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      margin-top: 400px;
      margin-left: 1030px;
      border-radius: 50%;
}

.grupos
{
  margin-bottom: 10px;
}

button.tooltip {
  position: relative;
  cursor: help; /* Cambiar el cursor al pasar sobre el botón */
}

button.tooltip::before {
  content: attr(title);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s, visibility 0.1s;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

button.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
}
.gruposyeah
{
  margin-top: 150px ;
  margin-left: 100px;
  height: 100px;
  width: 1000px;
}