<br>
<!--<img  class="regreso" [src]="'assets/banderas/back.png'" width="40" height="40" routerLink="/home/buscar">-->

<button class="tooltip" title="Lenguajes"
class="Lenguajes" routerLink="/home/proyectolenguajes">
    <img [src]="'assets/banderas/lenguajes.png'" 
     width="150" height="150"> 
     <!--<p class="len"><b>Lenguajes</b></p> -->
  </button>

    <button class="tooltip" title="Ética, naturaleza y sociedades"
    class="Etica" routerLink="/home/proyectoetica">
      <img [src]="'assets/banderas/etica.png'" 
       width="150" height="150"> 
       <!--<p class="social"><b>Ética,Naturaleza y Sociedades</b></p> -->
    </button>

    <button class="tooltip" title="Saberes y pensamiento científico"
    class="Saberes" routerLink="/home/proyectosaberes">
      <img [src]="'assets/banderas/saberes.png'" 
       width="150" height="150"> 
       <!--<p class="cincia"><b>Saberes y Pensamiento Científico</b></p> -->
    </button>

    <button class="tooltip" title="De lo humano y lo comunitario"
    class="Humano" routerLink="/home/proyectohumano">
      <img [src]="'assets/banderas/humano.png'"  
      width="150" height="150">
       <!--<p class="comun"><b>De lo Humano Y lo Comunitario</b></p> -->
    </button>