.logo {
    display:  flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    padding: 20px;
}

/* .logo-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #6366f1;
} */

.menu-bar {
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}

.all-menu {
    position: fixed;
}

.toggle-theme-btn {
    position: absolute;
    bottom: 20px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}


.sidebar {
    position: sticky !important;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    color: #ffff;
}

.sidebar-container {
  position: relative;
}


.light-theme {
    color: #fff; /* Cambia esto al color que desees para el texto en el tema claro */
    background-color: #001529; /* Cambia esto al color que desees para el fondo en el tema claro */
  }
  
  .dark-theme {
    color: #000; /* Cambia esto al color que desees para el texto en el tema oscuro */
    background-color: #fff; /* Cambia esto al color que desees para el fondo en el tema oscuro */
  }

  /* En el .ant-layout, establece un mínimo de altura para que ocupe al menos el 100% del viewport. */
.ant-layout {
    min-height: 100vh;
  }
  
  /* Ajusta el margen izquierdo del contenido principal para dejar espacio para el Sider. */
  .ant-layout-content {
    margin-left: 80px; /* Ajusta según el ancho de tu Sider */
    padding: 24px; /* Ajusta según tus necesidades */
  }
  
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
    