.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  padding: 20px;
}

.menu-bar {
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}

.all-menu {
  position: fixed;
}

.sidebar-container {
  position: fixed;
}

.toggle-theme-btn {
  position: absolute;
  bottom: 20px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}


/* .sidebar {
  position: sticky !important;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  color: #ffff;
} */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}


.light-theme {
  color: #fff;
  background-color: #001529;
}

.dark-theme {
  color: #000;
  background-color: #fff;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-content {
  margin-left: 80px;
  padding: 24px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.rbc-event {
  background: yellow;
  padding: 10px;
}

.rbc-active {
  background: yellow !important;
  padding: 10px;
}

.rbc-day-bg {
  background: wheat;
  padding: 40px;
}

.btn-toggle {
  display: none;
}

.sidebar-toggle {
  display: flex !important;
  position: sticky !important;
  left: 0;
  top: 0;
  max-height: 100vh; /* Utiliza la altura de la ventana */
  z-index: 9999;
  color: #ffff;
}

.text {
  font-size: x-large;
  text-transform: capitalize;
  margin-top: 10%;
  margin-left: 25px;
  font-weight: bold;
}


@media (max-width: 950px) {
  .sidebar {
    display: none;
  }

  .text {
    font-size: large;
    text-transform: capitalize;
    margin-top: 12%;
  }

  .btn-toggle {
    display: block;
  }
}

@media (max-width: 620px) {
  .sidebar {
    display: none; /* Oculta la barra lateral en resoluciones menores a 620px */
  }

  .sidebar-toggle {
    display: flex !important;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100vw;
    max-height: 100vh;
    z-index: 9999;
    color: #ffff;
  }
}
