@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; /* Si estás utilizando DnD */

/* Personalización de variables */
:root {
  --background-color: #0b1229; /* Cambia el color de fondo del calendario */
  --event-background-color: #317ae2; /* Cambia el color de fondo del evento */
  --event-border-color: #1e4ba8; /* Cambia el color del borde del evento */
  --event-color: #ffffff; /* Cambia el color del texto del evento */
  --today-background-color: #7C7C7C; /* Cambia el color de fondo del día actual */
}

/* Aplicar estilos personalizados */
.rbc-calendar {
  background-color: var(--background-color);
}

.rbc-event {
  background-color: var(--event-background-color);
  border-color: var(--event-border-color);
  color: var(--event-color);
}

.rbc-today {
  background-color: var(--today-background-color);
}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

/* Estilo específico para los botones en el encabezado del calendario */
.rbc-toolbar button {
  background-color: #2c375c;
  color: white;
  border-radius: 10%;
  border-color: #0b1229;
}


/* Estilo específico para el botón de "hoy" en el encabezado del calendario */
.rbc-toolbar .rbc-toolbar-label {
  background-color: #0b1229;
  color: white;
  border-color: blueviolet;
}

/* Cambia los colores para un botón específico de día de la semana */
.rbc-header {
  background-color: #3498db; /* Color de fondo deseado */
  color: #ffffff; /* Color del texto */
  border-color: #2980b9; /* Color del borde */
}

.rbc-day-bg {
  background-color: #1e4ba8;
  color: white;
} 

.rbc-today {
  background-color: #0b1229;
}

.rbc-off-range-bg {
  background-color: #7C7C7C;
}

.rbc-button-link {
  color: rgb(196, 196, 196);
}

.rbc-label {
  color: white;
}