<div mat-dialog-title>
    <h1>Fase Uno</h1>
</div>
<form [formGroup]="proyeForm" (ngSubmit)="subirForm()" >
    <div mat-dialog-content class="contenido">
        <div class="primero">
            <mat-form-field appearance="outline">
                <mat-label>Sesiónes</mat-label>
                    <mat-select formControlName="sesionesdos">
                        <mat-option *ngFor="let val of sesiones" [value]="val">
                            {{val}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fecha" appearance="outline">
                <mat-label>Fecha de Inicio</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechainicio">
                    <mat-hint>MM-DD-AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for] = "picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="fecha" appearance="outline">
                <mat-label>Fecha de Cierre</mat-label>
                    <input matInput [matDatepicker]="pickerdos" formControlName="fechacierre">
                    <mat-hint>MM-DD-AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for] = "pickerdos"></mat-datepicker-toggle>
                    <mat-datepicker #pickerdos></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Escenarios </mat-label>
                <mat-select formControlName="escenariodos">
                    <mat-option *ngFor="let val of escenarios" [value]="val">
                        {{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
    </div> 

    <div mat-dialog-content class="contenidodos">
        <div class="primero">
            <mat-form-field appearance="outline" class="ejesOwO">
                <mat-label>Ejes Articuladores</mat-label>
                <mat-select formControlName="ejesArt" multiple>
                    <mat-option *ngFor="let eje of ejesLista" [value]="eje">{{eje}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-content class="contenidotres">
        
        <mat-expansion-panel class="desplegable">
            <mat-expansion-panel-header class="btndesple">
                <mat-panel-title>Campos extras</mat-panel-title>
                <mat-panel-description class="ejempl">Objetivo, Inicio, Desarrollo, Cierre, Recursos y Links</mat-panel-description>
            </mat-expansion-panel-header>

            <div class="primero">
                <mat-form-field appearance="outline" class="textos">
                    <mat-label>Objetivo</mat-label>
                    <textarea formControlName="objetivo"
                    matInput placeholder="Objetivo de la Actividad">Objetivo
                    </textarea>
                    <!-- <mat-hint align="end">Aqui se pone el objetivo</mat-hint> -->
                </mat-form-field>
            </div>
    
            <div class="primero">
                <mat-form-field appearance="outline" class="textos">
                    <mat-label>Inicio</mat-label>
                    <textarea formControlName="inicio"
                    matInput placeholder="Inicio de Actividad">Inicio</textarea>
                </mat-form-field>
            </div>
    
            <div class="primero">
                <mat-form-field appearance="outline" class="textos">
                    <mat-label>Desarollo</mat-label>
                    <textarea formControlName="desarrollo"
                    matInput placeholder="Desarollo de la Actividad">Desarollo
                    </textarea>
                </mat-form-field>
            </div>
    
            <div class="primero">
                <mat-form-field appearance="outline" class="textos">
                    <mat-label>Cierre</mat-label>
                    <textarea formControlName="cierre"
                    matInput placeholder="Cierre de la Actividad">Cierre
                    </textarea>
                </mat-form-field>
            </div>
            
            <div class="primero">
                <mat-form-field appearance="outline" class="textos">
                    <mat-label>Recursos</mat-label>
                    <textarea formControlName="recursos"
                    matInput placeholder="Recursos requeridos">Recursos
                    </textarea>
                </mat-form-field>
            </div>
    
            <div class="primero">
                <mat-form-field appearance="outline" class="textos">
                    <mat-label>Links</mat-label>
                    <textarea formControlName="links"
                    matInput placeholder="Link, Url, Liga...">Desarollo
                    </textarea>
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        

    </div>

    <div mat-dialog-actions class="acciones">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type = submit>
            {{data ? 'Actualizar' : 'Guardar'}}
        </button>
    </div>
</form>